
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

// Default

html body {
  font-family: Calibri,Cambria,Arial,freesans,sans-serif;
}

html, html body strong, .markdown-preview.markdown-preview {
  background-color: #333333;
  color: #66eeff;
}

html body a {
  color: #eaeaea;
  text-decoration: underline;
}

html body a:hover {
  text-decoration: underline;
}

.mume-header {
  color: #99ff66;
}

thead {
  display: none;
}

// CV
@media print {
  html, html body strong, .markdown-preview.markdown-preview {
    background-color: #fff;
    color: #000;
  }

  .mume-header {
    color: #000;
  }

  html body {
    font-family: Calibri,Cambria,Arial,freesans,sans-serif;
  }

  html body h1 {
    font-size: 26px;
    margin-bottom: 0px;
    text-align: center;
  }

  html body h2 {
    font-size: 18px;
  }

  html body h3 {
    font-size: 14px;
  }

  html body h4 {
    font-size: 12px;
  }

  html body a {
    color: #000;
  }

  html body a:hover {
    text-decoration: none;
  }

  html body em {
    font-size: 12px;
  }

  html body p {
    font-size: 12px;
    margin-bottom: 6px;
    width: 100%;
  }

  html body strong {
    display: block;
    font-size: 12px;
    text-align: center;
  }
}